/*
 *  default.css
 *  main styling for scrum project
 */


/* font, got to love that ubuntu font */

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("http://fonts.gstatic.com/s/ubuntu/v7/zvCUQcxqeoKhyOlbifSAaevvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ubuntu/v7/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}

* {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("http://fonts.gstatic.com/s/ubuntu/v7/zvCUQcxqeoKhyOlbifSAaevvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ubuntu/v7/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}

body {
    background-color: #393939;
}

/* page layout */

#page {
    width: 1040px;
    text-align: center;
    margin: 10px auto 20px auto;
    background-color: #fff;
}

#title {
    width: 1040px;
    text-align: center;
    margin: 10px auto 20px auto;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

#left {
    text-align: center;
    float: left;
    width: 200px;
    /* border-top: 1px solid #000; */
    margin-left: 10px;
    margin-right: 10px;

    list-style: none outside none;
    vertical-align: middle;
}

#right {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    text-align: left;
}

/* misc tweaks */

.fill-h {
    width:100%;
}

.pad10 {
    padding 10px;
}

.center {
    text-align: center;
}


h1 {
    margin-top: 0px;
    padding-top: 0px;
}

#content {
    text-align: left;
    float: left;
    width: 600px;

}

legend {
    display:none;
}

fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-10 {
    padding-top:10px;
}

.noborder-fix {
    border: 0px;
    box-shadow: none;
    padding: 0px;
    width: auto;
}

.full-width {
    width:100%;
}

/* margin fix for detail fields */

.p-no-margin p {
    margin: 0px;
}

/* sub-item (release for projects, item for releases) highlight for hover */

.parent-hover-style {
    /* background: #a7cadb; */
    border-color: #3074ae;
    /* border-color: black; */
}

/* used for most headers */

.font-size-18 {
    font-size: 18px;
}

/* badge colors for /projects/ */

.badge-info {
    background-color: #D9EDF7;
    color: #31708F;
}

.badge-primary {
    background-color: #337AB7;
    color: white;
}

/* ? */

.textarea-full-width {
    width: 100%;
}

/* project quick add subtitle */

.subtitle {
    color: #c0c0c0;
    font-size: smaller;
}

/* test for new drop down type or button select type */

.hidden-radio {
    display: none;
}

/* release items styles */

table.release_items, table.container {
    width: 100%;
}

td.left, td.right {
    width: 49%;
    vertical-align: top;
}

/* release quick add styles */

div.backlog_items, div.release_items {
    background-color: #fff;
    border: 1px dotted #c0c0c0;
    padding: 15px;
    width: 100%;
    height: 100%;
}

div.backlog_items div, div.release_items div, td.title {
    padding: 10px;
    margin: 5px;
}

td.spacer {
    width: 10px;
}

table.full {
    width: 100%;
}

table.drag-container {

}

/* dragula css */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

/* dragula-specific example page styles */

.wrapper {
  display: table;
}

.dragula-container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}

.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

.container div {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-unselectable {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.dragula-container .ex-moved {
  background-color: #e74c3c;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.display-none {
    display: none;
}

.status-overlay {
    float: right;
    text-align: left;
	position: absolute;
	top: 10px;
	right: 10px;
    z-index: 1;
    clear: both;
}

/* charts */

.projects-release-chart {
    height: 100px;
    width: 100px;
    background-color: #393939;
}

table.release-details {
    width: 100%;
}

td.chart {
    width: 100px;
    vertical-align: top;
    background-color: #393939;
}

div.burndown_chart {
    width: 97%;
    height: 300px;
    margin: 10px;
}

/* right nav dates */

.float-right {
    float: right;
}

#start_link {
    cursor: pointer;
}

#complete_link {
    cursor: pointer;
}

.margin-btm-5 {
    margin-bottom: 5px;
}