# static files ignores

/static/static_root/

# ignore database file

*.db
db.*

# ignore IDE files

/.idea

# publicly available libraries

bootstrap-theme.min.css
bootstrap.min.css
bootstrap.min.js
font-awesome.min.css

# migrations files

/projects/migrations/
/releases/migrations/
/items/migrations/

# charts

highcharts.js
d3.min.js
nv.d3.min.js

# reference files
/reference/