{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
scrum - project
{% endblock %}

{% block left %}
<div class="btn-group-vertical" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/"><i class="fa fa-times"></i> Cancel</a>
    {% if project.id %}<a class="btn btn-lg btn-danger" href="/projects/delete/{{ project.id }}"><i class="fa fa-trash-o"></i> Delete</a>{% endif %}
</div>

{% endblock %}


{% block content %}

    <h1>{% if project.id %}edit project{% else %}create project{% endif %}</h1>
    <form action="{% if project.id %}/projects/edit/{{ project.id }}{% else %}/projects/create/{% endif %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <!--<label class="control-label"></label>-->
                    <div class="controls"><span class="input-group-addon">{{ field.label }}</span>{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </fieldset>

    <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Submit</button>

    </form>

{% endblock %}
