{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
{% if item.id %}
    scrum - edit item
{% else %}
    scrum - create item
{% endif %}
{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/{{project_id}}/releases/{{release_id}}"><i class="fa fa-times"></i> Cancel</a>
    {% if item.id %}<a class="btn btn-lg btn-danger" href="/projects/{{project_id}}/releases/{{release_id}}/items/delete/{{ item.id }}"><i class="fa fa-trash-o"></i> Delete</a>{% endif %}
</div>
{% endblock %}


{% block content %}

    <form action="{% if item.id %}/projects/{{project_id}}/releases/{{release_id}}/items/edit/{{ item.id }}{% else %}/projects/{{project_id}}/releases/{{release_id}}/items/create/{% endif %}" method="POST">
    {% csrf_token %}

    <div class="panel panel-primary">
        <div class="panel-heading">edit item</div>
        {% for field in form %}
        <div class="list-group-item">
            {% bootstrap_field field %}
        </div>
        {% endfor %}
        <div class="list-group-item">
            <button type="submit" class="btn btn-lg btn-success" name="submit"><i class="fa fa-check"></i> Submit</button>
            <button type="submit" class="btn btn-lg btn-success" name="submit_and_add"><i class="fa fa-check"></i> Submit and Add New</button>
        </div>
    </div>

    </form>

{% endblock %}
