{% extends "base.html" %}

{% block pagetitle %}scrum - project index{% endblock %}
{% block title %}project index{% endblock %}

{% block content %}

<div class="list-group panel-primary">
    <div class="panel-heading font-size-18">Projects</div>
    {% for project in object_list %}
        <a class="list-group-item font-size-18" href="/projects/{{ project.id }}">
            {{ project.title }}
        <span class="badge badge-primary">{{ project.total_releases }}</span>
        <span class="badge badge-primary">{{ project.total_items }}</span>

        </a>
    {% endfor %}
</div>

<!--
<form method="get" action=".">
    <div class="controls btn-group btn-group-justified" role='group'>
        <label for="id_session_type_1" class="btn btn-success">Individual</label>
        <label for="id_session_type_2" class="btn btn-warning">Small Group</label>
        <label for="id_session_type_3" class="btn btn-danger selected">Class</label>
    </div>
    <input type="radio" class='hidden-radio' name="session_type" id="id_session_type_1">
    <input type="radio" class='hidden-radio' name="session_type" id="id_session_type_2">
    <input type="radio" class='hidden-radio' name="session_type" id="id_session_type_3">
    <input class='btn' type="submit" value="Search">
</form>
-->

{% endblock %}

{% block right %}

<div class="panel panel-info fill-h">
    <div class="panel-heading font-size-18">Statistics</div>
    <div class="list-group-item">Total Projects <span class="badge badge-info">{{ total_projects }}</span></div>
    <div class="list-group-item">Total Releases <span class="badge badge-info">{{ total_releases }}</span></div>
    <div class="list-group-item">Total Items <span class="badge badge-info">{{ total_items }}</span></div>
</div>

{% endblock %}