{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}
{% if project.id %}
    scrum - edit project
{% else %}
    scrum - create project
{% endif %}
{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/"><i class="fa fa-times"></i> Cancel</a>
    {% if project.id %}<a class="btn btn-lg btn-danger" href="/projects/delete/{{ project.id }}"><i class="fa fa-trash-o"></i> Delete</a>{% endif %}
</div>
{% endblock %}


{% block content %}

    {% if show_message %}
        {% bootstrap_messages show_message %}
    {% endif %}

    <form action="{% if project.id %}/projects/edit/{{ project.id }}{% else %}/projects/create/{% endif %}" method="POST">
    {% csrf_token %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            edit project
        </div>

        {% for field in form %}
        <div class="list-group-item">

            {% bootstrap_field field %}

        </div>
        {% endfor %}
        <div class="list-group-item">
            <button type="submit" class="btn btn-lg btn-success list-group-item"><i class="fa fa-check"></i> Submit</button>
        </div>

    </div>

    </form>




{% endblock %}
