{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    scrum - quick create project
{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/">Cancel <i class="fa fa-times"></i></a>
</div>
{% endblock %}


{% block content %}

    {% if show_message %}
        {% bootstrap_messages show_message %}
    {% endif %}

    <form action="/projects/quick/" method="POST">
    {% csrf_token %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            {% if project.id %}edit project{% else %}create project{% endif %}
        </div>

        {% for field in form %}
        <div class="list-group-item">
            {% bootstrap_field field %}
        </div>
        {% endfor %}
        <div class="list-group-item">
            <label class="control-label" for="quick_items">Items <span class="subtitle">(Usage: Item Title, Item Description for each line)</span></label>
            <textarea name="quick_items" id="quick_items" class="textarea-full-width" rows="6"></textarea>
        </div>
        <div class="list-group-item">
            <button type="submit" class="btn btn-lg btn-success list-group-item">Submit <i class="fa fa-check"></i></button>
        </div>

    </div>

    </form>




{% endblock %}
