{% extends "base.html" %}

{% block pagetitle %}scrum - project index{% endblock %}
{% block title %}project index{% endblock %}

{% block content %}

<h1>Projects</h1>
<ul class="list-group">

    {% for project in object_list %}
        <li class="list-group-item">
        <a href="/projects/view/{{ project.id }}">
            {{ project.title }}
        </a>
        <span class="badge">123</span>
        &nbsp;<a href="/releases/edit/{{release.id}}" style="color:grey;"><i class="fa fa-cog fa-fw"></i></a>
        </li>

    {% endfor %}
</ul>

{% endblock %}
