{% extends "base.html" %}

{% block pagetitle %}scrum - project view{% endblock %}
{% block title %}project view{% endblock %}

{% block content %}

<div class="panel panel-primary">

<!--<div class="list-group">-->
    <div class="panel-heading">{{ project.title }} [{{ project.key_title }}]</div>
    <div class="list-group-item">{{ project.detail|safe|linebreaks }}</div>
    <div class="list-group-item">owner: {{ project.owner }}</div>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/">Back</a>
    <a class="btn btn-lg btn-default" href="/projects/edit/{{ project.id }}">Edit Project</a>
    <a class="btn btn-lg btn-danger" href="/projects/delete/{{ project.id }}" aria-disabled="true">Delete Project</a>
</div>

{% endblock %}
