{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
{% if release.id %}
    scrum - edit release
{% else %}
    scrum - create release
{% endif %}
{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/{{ project_id }}">Cancel <i class="fa fa-times"></i></a>
    {% if release.id %}<a class="btn btn-lg btn-danger" href="/releases/delete/{{ release.id }}">Delete <i class="fa fa-trash-o"></i></a>{% endif %}
</div>
{% endblock %}


{% block content %}

    <form action="{% if release.id %}/projects/{{ project_id }}/releases/edit/{{ release.id }}{% else %}/projects/{{ project_id }}/releases/create/{% endif %}" method="POST">
    {% csrf_token %}


    <div class="panel panel-primary">
        <div class="panel-heading font-size-18">{% if release.id %}Edit Release{% else %}Create Release{% endif %}</div>
        {% for field in form %}
        <div class="list-group-item">
            {% bootstrap_field field %}
        </div>
        {% endfor %}
        <div class="list-group-item">
            <button type="submit" class="btn btn-lg btn-success list-group-item">Submit <i class="fa fa-check"></i></button>
        </div>
    </div>

    </form>

{% if project_id %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_project').val({{project_id}})
    });
    </script>
{% endif %}

{% endblock %}
