{% extends "base.html" %}

{% load tags %}

{% block pagetitle %}scrum - release view{% endblock %}
{% block title %}release view{% endblock %}

{% block left %}

<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/{{ project_id }}">Back <i class="fa fa-arrow-left"></i></a>
    {% if backlog_flag = False %}
    <a class="btn btn-lg btn-success" href="/projects/{{ project_id }}/releases/quick/{{ release.id }}">Add from Backlog</a>
    {% endif %}
    <a class="btn btn-lg btn-success" href="/projects/{{ project_id }}/releases/{{ release.id }}/items/create">New Item <i class="fa fa-file-text-o"></i></a>
    <a class="btn btn-lg btn-default" href="/projects/{{ project_id }}/releases/edit/{{ release.id }}">Edit Release</a>
    <a class="btn btn-lg btn-danger" href="/projects/{{ project_id }}/releases/delete/{{ release.id }}">Delete Release <i class="fa fa-trash-o"></i></a>
</div>

{% endblock %}

{% block right %}

<div class="panel panel-primary fill-h">
    <div class="list-group-item">Created:<br> {{ release.date_created }}</div>
    <div class="list-group-item">Modified:<br> {{ release.date_modified }}</div>
    <!-- <div class="list-group-item">Start:<br> {{ release.date_start }}</div> -->
    <!-- <div class="list-group-item">Complete:<br> {{ release.date_complete }}</div> -->
    <div class="list-group-item">Percent Complete:<br> {{ percent_complete|percent }}</div>
</div>

{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading font-size-18">{{ release.title }}</div>
    <div class="panel-body"><u>Number</u><br>{{ release.number }}</div>
    <div class="panel-body"><u>Status</u><br>{{ release.status }}</div>
    <div class="panel-body p-no-margin"><u>Detail</u><br>{{ release.detail|safe|linebreaks }}</div>
</div>

{% set flag = 1 %}
<table class="release_items">
{% for item in open_items %}

    {% if flag = 1 %}
    <tr><td class="left">
        <div class="panel panel-{{ item.priority|priority_css }}">
            <a class="list-group-item panel-heading parent-border-hover" href="/projects/{{ project_id }}/releases/{{ release.id }}/items/{{ item.id }}">{{ item.title }}</a>
            <div class="panel-body p-no-margin"><u>Detail</u>{{ item.detail|safe|linebreaks }}</div>
        </div>
    </td>
    {% set flag = 0 %}
    {% else %}
    <td class="spacer"></td><td class="right">
        <div class="panel panel-{{ item.priority|priority_css }}">
            <a class="list-group-item panel-heading parent-border-hover" href="/projects/{{ project_id }}/releases/{{ release.id }}/items/{{ item.id }}">{{ item.title }}</a>
            <div class="panel-body p-no-margin"><u>Detail</u>{{ item.detail|safe|linebreaks }}</div>
        </div>
    </td></tr>
    {% set flag = 1 %}
    {% endif %}

{% endfor %}

{% for item in closed_items %}

    {% if flag = 1 %}
    <tr><td class="left">
        <div class="panel panel-default">
            <a class="list-group-item panel-heading parent-border-hover" href="/projects/{{ project_id }}/releases/{{ release.id }}/items/{{ item.id }}">{{ item.title }}</a>
            <div class="panel-body p-no-margin"><u>Detail</u>{{ item.detail|safe|linebreaks }}</div>
        </div>
    </td>
    {% set flag = 0 %}
    {% else %}
    <td class="spacer"></td><td class="right">
        <div class="panel panel-default">
            <a class="list-group-item panel-heading parent-border-hover" href="/projects/{{ project_id }}/releases/{{ release.id }}/items/{{ item.id }}">{{ item.title }}</a>
            <div class="panel-body p-no-margin"><u>Detail</u>{{ item.detail|safe|linebreaks }}</div>
        </div>
    </td></tr>
    {% set flag = 1 %}
    {% endif %}

{% endfor %}

{% if flag = 0 %}
    <td></td></td></tr>
{% endif %}
</table>

{% endblock %}