{% extends "base.html" %}

{% block pagetitle %}scrum - release delete confirm{% endblock %}
{% block title %}release delete confirm{% endblock %}

{% block content %}

    <form action="{% if release.id %}/projects/{{ project_id }}/releases/delete/{{ release.id }}{% endif %}" method="POST">
    {% csrf_token %}


    <div class="panel panel-primary">
        <div class="panel-heading">{% if release.id %}Delete Release{% endif %}</div>
        <div class="list-group-item">
            Are you sure you want to delete this release?
        </div>
        <div class="list-group-item">
            <button type="submit" class="btn btn-lg btn-danger list-group-item">Yes, Delete Release <i class="fa fa-trash-o"></i></button>
        </div>
    </div>

    </form>

{% endblock %}