{% extends "base.html" %}

{% block pagetitle %}scrum - release delete confirm{% endblock %}
{% block title %}release delete confirm{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/{{ project_id }}/releases/{{ release.id }}">Back <i class="fa fa-arrow-left"></i></a>
</div>
{% endblock %}

{% block content %}

    <form action="{% if release.id %}/projects/{{ project_id }}/releases/delete/{{ release.id }}{% endif %}" method="POST">
    {% csrf_token %}


    <div class="panel panel-primary">
        <div class="panel-heading font-size-18">
            {% if error %}
                Error:
            {% else %}
                Delete Release
            {% endif %}
        </div>
        {% if not error %}
        <div class="list-group-item">
            Are you sure you want to delete this release?
        </div>
        {% endif %}
        <div class="list-group-item">
            {% if error %}
                You cannot remove the backlog release.  Note: If you really want to remove it, you must first rename it.
            {% else %}
                <button type="submit" class="btn btn-lg btn-danger list-group-item">Yes, Delete Release <i class="fa fa-trash-o"></i></button>
            {% endif %}
        </div>
    </div>

    </form>

{% endblock %}