{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{% if item.id %}
    scrum - edit item
{% else %}
    scrum - create item
{% endif %}
{% endblock %}

{% block left %}
    <a class="btn btn-lg btn-warning" href="/items/"><i class="fa fa-times"></i> Cancel</a>
    {% if item.id %}<a class="btn btn-lg btn-danger" href="/items/delete/{{ item.id }}"><i class="fa fa-trash-o"></i> Delete</a>{% endif %}
{% endblock %}


{% block content %}

    {% crispy form %}

{% endblock %}
