{% extends "base.html" %}

{% block pagetitle %}scrum - item view{% endblock %}
{% block title %}item view{% endblock %}

{% block content %}

<div class="panel panel-primary fill-h">
    <div class="panel-heading">{{ item.title }}</div>
    <div class="list-group-item"><div class="p-no-margin">{{ item.detail|linebreaks }}</div></div>
    <div class="list-group-item">type: {{ item.type }}</div>
    <div class="list-group-item">priority: {{ item.type }}</div>
    <div class="list-group-item">effort: {{ item.effort }}</div>
    <div class="list-group-item">sprint: {{ item.sprint }}</div>
    <div class="list-group-item">status: {{ item.status }}</div>
    <!--<div class="list-group-item">project: {{ item.type }}</div>-->
    <div class="list-group-item">owner: {{ item.owner }}</div>
</div>

{% endblock %}

{% block left %}
<div class="btn-group-vertical fill-h padding-bottom-20" role="group">
    <a class="btn btn-lg btn-warning" href="/items/">Back</a>
    <a class="btn btn-lg btn-default" href="/items/edit/{{ item.id }}">Edit item</a>
    <a class="btn btn-lg btn-danger" href="/items/delete/{{ item.id }}" aria-disabled="true">Delete item</a>
</div>

{% endblock %}

{% block right %}
<div class="panel panel-primary fill-h">
    <div class="list-group-item">created:<br> {{ item.date_created }}</div>
    <div class="list-group-item">modified:<br> {{ item.date_modified }}</div>
    <div class="list-group-item">start:<br> {{ item.date_start }}</div>
    <div class="list-group-item">completed:<br> {{ item.date_complete }}</div>
</div>
{% endblock %}