{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{% if project.id %}
    scrum - edit project
{% else %}
    scrum - create project
{% endif %}
{% endblock %}

{% block left %}
<div class="btn-group-vertical" role="group">
    <a class="btn btn-lg btn-warning" href="/projects/"><i class="fa fa-times"></i> Cancel</a>
    {% if project.id %}<a class="btn btn-lg btn-danger" href="/projects/delete/{{ project.id }}"><i class="fa fa-trash-o"></i> Delete</a>{% endif %}
</div>

{% endblock %}


{% block content %}

    <form action="{% if project.id %}/projects/edit/{{ project.id }}{% else %}/projects/create/{% endif %}" method="POST">
    {% csrf_token %}


    <div class="panel panel-primary">
        <div class="panel-heading">edit project</div>
        <table class="list-group">
            {% for field in form %}
            <div class="list-group-item">
                <div>{{ field.label|lower }}</div>
                <div>{{ field }}</div>
                {% if field.errors %}
                    {% for error in  field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-lg btn-success list-group-item" style="width:100%"><i class="fa fa-check"></i> Submit</button>
        </table>
    </div>

    </form>

{% endblock %}
